@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';

body {
  display: grid;
  align-items: center;
  min-block-size: 100vh;
  padding: 1em 2em;
  background: hsl(235deg 18% 26%);
  color: hsl(234deg 29% 20%);
  font-family: Roboto, sans-serif;
  font-size: 0.9375em;
  place-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.form {
  display: flex;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: hsl(0deg 0% 100%);
  color: hsl(234deg 29% 20%);
}

.form__title {
  margin-block-end: 1rem;
  font-size: 1.8rem;
}

.form__description {
  max-inline-size: 80%;
  margin-block-end: 1rem;
  font-size: 1rem;
}

.form__content {
  padding: 2.5rem;
  padding-inline-end: 0;
}

.form__statistics ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-block-end: 3rem;
  line-height: 2rem;
  list-style: none;
}

.form__statistics ul li {
  display: flex;
  align-items: center;
}

.form__input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__input label {
  font-size: 0.9375em;
  font-weight: 700;
}

.form__input input {
  block-size: 3rem;
  inline-size: 23rem;
  padding-inline-start: 1rem;
  border-radius: 0.5rem;
}

.form__input button {
  block-size: 3.125rem;
  inline-size: 23rem;
  border-radius: 0.5rem;
  background-color: hsl(235deg 18% 26%);
  color: hsl(0deg 0% 100%);
}

.form__input button:hover {
  border: none;
  background: rgb(255 83 119);
  background: linear-gradient(90deg, rgb(255 83 119) 0%, rgb(255 94 91) 50%, rgb(255 103 62) 100%);
  cursor: pointer;
}

.form__input input:hover {
  cursor: pointer;
}

#thanks {
  display: none;
}

#thanks .form {
  padding: 1rem;
}

#thanks .form__content {
  display: flex;
  flex-direction: column;
  inline-size: 23rem;
  padding: 2rem;
  padding-block-start: 0.5rem;
}

#thanks .form__content .form__title {
  font-size: 3em;
  line-height: 1;
}

#thanks .form__content .form__description {
  max-inline-size: 100%;
  margin-block-end: 2rem;
  font-size: 0.8em;
}

#thanks .icon {
  block-size: 3rem;
  inline-size: 3rem;
  margin-block-end: 1.5rem;
}

#thanks button {
  block-size: 3.125rem;
  inline-size: 19rem;
  border-radius: 0.5rem;
  background-color: hsl(235deg 18% 26%);
  color: hsl(0deg 0% 100%);
}

.icon {
  display: inline;
  margin-inline-end: 1rem;
}
